.loading-screen{

position:fixed;

inset:0;

display:flex;

align-items:center;

justify-content:center;

overflow:hidden;

background:
linear-gradient(
135deg,
#050816,
#0a1635,
#160b35
);

z-index:9999;

}


/* soft nebula */

.mist{

position:absolute;

border-radius:50%;

filter:blur(100px);

}



.mist1{

width:600px;
height:600px;

background:#2563eb;

opacity:.18;

top:-200px;
left:-200px;

animation:move1 12s infinite alternate;

}



.mist2{

width:550px;
height:550px;

background:#9333ea;

opacity:.15;

bottom:-200px;
right:-150px;

animation:move2 15s infinite alternate;

}



@keyframes move1{

to{
transform:translate(120px,80px);
}

}


@keyframes move2{

to{
transform:translate(-100px,-70px);
}

}



/* glass card */

.loader-card{

padding:50px 80px;

border-radius:30px;

background:

rgba(255,255,255,.05);

border:

1px solid rgba(255,255,255,.12);

backdrop-filter:blur(15px);

box-shadow:

0 20px 80px rgba(0,0,0,.4);

text-align:center;

}



.loader-card h1{

display:flex;

justify-content:center;

gap:12px;

font-size:80px;

letter-spacing:15px;

font-weight:700;

background:

linear-gradient(
90deg,
#ffffff,
#38bdf8,
#a855f7,
#ffffff
);

background-size:300%;

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

animation:nameGlow 6s ease infinite;

}



.loader-card span{

text-shadow:

0 0 25px rgba(56,189,248,.5);

}


.loader-card p{

margin-top:18px;

font-size:14px;

letter-spacing:5px;

font-weight:500;

color:#cbd5e1;

opacity:.9;

}




/* dots */

.loading-dots{

display:flex;

justify-content:center;

gap:8px;

margin-top:35px;

}


.loading-dots span{

width:8px;

height:8px;

border-radius:50%;

background:#38bdf8;

animation:

dotWave 1.4s infinite;

}


.loading-dots span:nth-child(2){

animation-delay:.2s;

}


.loading-dots span:nth-child(3){

animation-delay:.4s;

}



@keyframes dotWave{

50%{

transform:translateY(-10px);

opacity:.4;

}

}



/* particles */

.particle{

position:absolute;

width:5px;

height:5px;

background:#38bdf8;

border-radius:50%;

opacity:.5;

animation:floatParticle 8s infinite;

}


.p1{

top:20%;
left:20%;

}


.p2{

top:70%;
right:25%;

animation-delay:2s;

}


.p3{

bottom:20%;
left:40%;

animation-delay:4s;

}



@keyframes floatParticle{

50%{

transform:
translateY(-40px)
scale(1.5);

}

}



@media(max-width:600px){

.loader-card{

padding:35px 25px;

}


.loader-card h1{

font-size:42px;

letter-spacing:8px;

}

}
@keyframes nameGlow{

0%{
background-position:0%;
}

50%{
background-position:100%;
}

100%{
background-position:0%;
}

}